#main {
  width: 100%;
}
#main #section1 {
  width: 100%;
  position: relative;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#main #section1 .sec1-aside {
  flex-grow: 0;
  flex-basis: 20%;
  position: relative;
}
#main #section1 .sec1-aside .menu-bar {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}
#main #section1 .sec1-aside .menu-bar .main-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-weight: 700;
}
#main #section1 .sec1-aside .menu-bar .main-title > li {
  text-align: center;
}
#main #section1 .sec1-aside .menu-bar .main-title > li a {
  font-size: 30px;
  color: #fff;
}
#main #section1 .sec1-aside .menu-bar .main-title > li a:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
#main #section1 .sec1-article {
  flex-grow: 0;
  flex-basis: 80%;
  position: relative;
}
#main #section1 .sec1-article .img-box {
  width: 100%;
  opacity: 0.4;
}
#main #section1 .sec1-article .img-box img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
#main #section1 .sec1-article .main-title {
  position: absolute;
  top: 30%;
  left: 15%;
}
#main #section1 .sec1-article .main-title h2 {
  margin: 20px 0;
  text-align: center;
}
#main #section1 .sec1-article .main-title h2.info-name {
  font-size: 70px;
}
#main #section1 .sec1-article .main-title h2.info-subtitle {
  font-size: 40px;
}
#main #section1 .sec1-article .main-title h2.info-text-motto {
  font-size: 30px;
}
#main #section2 {
  width: 100%;
  position: relative;
  display: flex;
}
#main #section2 .sec2-aside {
  display: flex;
  flex-basis: 20%;
  height: 100%;
  flex-grow: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 70px 0;
  background-color: rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
}
#main #section2 .sec2-aside .menu-bar {
  display: flex;
}
#main #section2 .sec2-aside .menu-bar .nav-main-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: "NEXON Lv2 Gothic Bold";
  transition: all 0.3s;
}
#main #section2 .sec2-aside .menu-bar .nav-main-title > li {
  text-align: center;
  padding: 30px 0;
}
#main #section2 .sec2-aside .menu-bar .nav-main-title > li a {
  font-size: 30px;
  color: #fff;
}
#main #section2 .sec2-aside .menu-bar .nav-main-title > li a:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
#main #section2 .sec2-aside .menu-bar .nav-main-title > li .project-submenu li {
  padding: 20px 0;
}
#main #section2 .sec2-aside .menu-bar .nav-main-title > li .project-submenu li a {
  font-size: 15px;
}
#main #section2 .sec2-article {
  flex-basis: 80%;
  flex-grow: 0;
  overflow: hidden;
  padding: 40px;
}
#main #section2 .sec2-article .main-title {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -24px;
  left: 53%;
  background-color: #f58338;
  border-radius: 20px;
}
#main #section2 .sec2-article .main-title h2 {
  font-size: 30px;
  font-weight: 700;
}
#main #section2 .sec2-article .about-row-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  padding: 0 0 50px 0;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-left: 120px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-left {
  width: 350px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-left .name {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-left .name img {
  width: 50px;
  margin-right: 10px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-left .name h2 {
  font-size: 25px;
  font-weight: 600;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-left .detail {
  width: 100%;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-left .detail p {
  font-size: 20px;
  margin-left: 60px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-center {
  width: 350px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-center .birth {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-center .birth img {
  width: 50px;
  margin-right: 10px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-center .birth h2 {
  font-size: 25px;
  font-weight: 600;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-center .detail {
  width: 100%;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-center .detail p {
  font-size: 20px;
  margin-left: 60px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-right {
  width: 350px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-right .phone-number {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-right .phone-number img {
  width: 50px;
  margin-right: 10px;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-right .phone-number h2 {
  font-size: 25px;
  font-weight: 600;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-right .detail {
  width: 100%;
}
#main #section2 .sec2-article .about-row-box .about-me-row1 .row1-right .detail p {
  font-size: 20px;
  margin-left: 60px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-left: 120px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-left {
  width: 350px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-left .address {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-left .address img {
  width: 50px;
  margin-right: 10px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-left .address h2 {
  font-size: 25px;
  font-weight: 600;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-left .detail {
  width: 100%;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-left .detail p {
  font-size: 20px;
  margin-left: 60px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-center {
  width: 350px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-center .email {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-center .email img {
  width: 50px;
  margin-right: 10px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-center .email h2 {
  font-size: 25px;
  font-weight: 600;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-center .detail {
  width: 100%;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-center .detail p {
  font-size: 20px;
  margin-left: 60px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-right {
  width: 350px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-right .github {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-right .github img {
  width: 50px;
  margin-right: 10px;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-right .github h2 {
  font-size: 25px;
  font-weight: 600;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-right .detail {
  width: 100%;
}
#main #section2 .sec2-article .about-row-box .about-me-row2 .row2-right .detail p {
  font-size: 20px;
  margin-left: 60px;
}
#main #section2 .sec2-article .education {
  width: 100%;
  padding-bottom: 70px;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .education .edcation-main-title {
  padding: 50px 0;
}
#main #section2 .sec2-article .education .edcation-main-title h2 {
  font-size: 50px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-align: center;
}
#main #section2 .sec2-article .education .education-content {
  width: 100%;
}
#main #section2 .sec2-article .education .education-content .education-school {
  width: 100%;
  padding: 20px 0;
}
#main #section2 .sec2-article .education .education-content .education-school h2 {
  font-size: 25px;
  padding: 20px 0;
  font-weight: 600;
}
#main #section2 .sec2-article .education .education-content .education-school ul li {
  font-size: 20px;
  padding: 10px 0;
}
#main #section2 .sec2-article .education .education-content .education-academy {
  width: 100%;
  padding: 20px 0;
}
#main #section2 .sec2-article .education .education-content .education-academy h2 {
  font-size: 25px;
  padding: 20px 0;
  font-weight: 600;
}
#main #section2 .sec2-article .education .education-content .education-academy ul li {
  font-size: 20px;
  padding: 10px 0;
}
#main #section2 .sec2-article .work-experience {
  width: 100%;
  border-bottom: 1px solid #fff;
  padding-bottom: 70px;
}
#main #section2 .sec2-article .work-experience .work-experience-main-title {
  padding: 50px 0;
}
#main #section2 .sec2-article .work-experience .work-experience-main-title h2 {
  font-size: 50px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 14px;
  text-align: center;
}
#main #section2 .sec2-article .work-experience .work-experience-content h2 {
  font-size: 25px;
  padding: 20px 0;
  font-weight: 600;
}
#main #section2 .sec2-article .work-experience .work-experience-content h3 {
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 600;
}
#main #section2 .sec2-article .work-experience .work-experience-content ul li {
  padding: 10px 0;
}
#main #section2 .sec2-article .work-experience .work-experience-content ul li > h2 {
  font-size: 25px;
}
#main #section2 .sec2-article .interview-main-title {
  width: 100%;
  padding: 50px 0;
}
#main #section2 .sec2-article .interview-main-title h1 {
  font-size: 50px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-align: center;
}
#main #section2 .sec2-article .interview-box {
  width: 100%;
  padding-bottom: 70px;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .interview-box .row-1 {
  position: relative;
  display: flex;
  width: 100%;
}
#main #section2 .sec2-article .interview-box .row-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 108%;
  background-color: #fff;
}
#main #section2 .sec2-article .interview-box .row-1 .interview-sub-title-0102 {
  width: 50%;
}
#main #section2 .sec2-article .interview-box .row-1 .interview-sub-title-0102 .interview-0102 {
  display: block;
  width: 545px;
  height: 50px;
  margin: 0 0 20px 20px;
  font-size: 30px;
  color: #87CEEB;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 7px;
}
#main #section2 .sec2-article .interview-box .row-1 .interview-sub-title-0102 .interview-0102 > img {
  width: 30px;
  margin: 0 10px 5px 0;
}
#main #section2 .sec2-article .interview-box .row-1 .interview-sub-title-0102 .content-box {
  height: 400px;
  padding: 0px 20px 0px 20px;
  overflow-y: auto;
}
#main #section2 .sec2-article .interview-box .row-1 .interview-sub-title-0102 .content-box::-webkit-scrollbar {
  width: 15px;
}
#main #section2 .sec2-article .interview-box .row-1 .interview-sub-title-0102 .content-box::-webkit-scrollbar-thumb {
  background: #424242;
}
#main #section2 .sec2-article .interview-box .row-1 .interview-sub-title-0102 .content-box .content {
  line-height: 200%;
  font-size: 20px;
  background-color: #032431;
}
#main #section2 .sec2-article .interview-box .row-2 {
  display: flex;
  width: 100%;
}
#main #section2 .sec2-article .interview-box .row-2 .interview-sub-title-0304 {
  width: 50%;
}
#main #section2 .sec2-article .interview-box .row-2 .interview-sub-title-0304 .interview-0304 {
  display: block;
  width: 545px;
  height: 50px;
  margin: 70px 0 20px 20px;
  font-size: 30px;
  color: #87CEEB;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 7px;
}
#main #section2 .sec2-article .interview-box .row-2 .interview-sub-title-0304 .interview-0304 > img {
  width: 30px;
  margin: 0 10px 5px 0;
}
#main #section2 .sec2-article .interview-box .row-2 .interview-sub-title-0304 .content-box {
  height: 400px;
  padding: 10px 20px 0px 20px;
  overflow-y: auto;
}
#main #section2 .sec2-article .interview-box .row-2 .interview-sub-title-0304 .content-box::-webkit-scrollbar {
  width: 15px;
}
#main #section2 .sec2-article .interview-box .row-2 .interview-sub-title-0304 .content-box::-webkit-scrollbar-thumb {
  background: #424242;
}
#main #section2 .sec2-article .interview-box .row-2 .interview-sub-title-0304 .content-box .content {
  line-height: 200%;
  font-size: 20px;
}
#main #section2 .sec2-article .skill-main-title {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 37.9%;
  left: 49%;
  background-color: #f58338;
  border-radius: 20px;
}
#main #section2 .sec2-article .skill-main-title h2 {
  font-size: 30px;
  font-weight: 700;
}
#main #section2 .sec2-article .skill-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .skill-content .content-box {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#main #section2 .sec2-article .skill-content .content-box.frontend {
  width: 500px;
}
#main #section2 .sec2-article .skill-content .content-box.on > .click-ui-container {
  opacity: 1;
}
#main #section2 .sec2-article .skill-content .content-box .content-title {
  color: #ec530c;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0 5px 20px;
  text-decoration: underline;
  text-underline-offset: 6px;
}
#main #section2 .sec2-article .skill-content .content-box img {
  margin: 20px 0 0 0;
  width: 100%;
  height: 100%;
}
#main #section2 .sec2-article .skill-content .content-box .click-ui-container {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.92);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#main #section2 .sec2-article .skill-content .content-box .click-ui-container .click-ui-content {
  width: 100%;
  padding: 20px 10px 0 10px;
}
#main #section2 .sec2-article .skill-content .content-box .click-ui-container .click-ui-content h2 {
  font-size: 20px;
  margin: 10px 0;
}
#main #section2 .sec2-article .skill-content .content-box .click-ui-container .click-ui-content .detail-box {
  padding: 0 10px;
  line-height: 200%;
}
#main #section2 .sec2-article .skill-content .content-box .click-ui-container .click-ui-content .detail-box p {
  color: #ccc;
  font-size: 15px;
}
#main #section2 .sec2-article .project-main-title {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 49%;
  background-color: #f58338;
  border-radius: 20px;
}
#main #section2 .sec2-article .project-main-title h2 {
  font-size: 30px;
  font-weight: 700;
}
#main #section2 .sec2-article .project-content {
  width: 100%;
  padding: 70px 0;
}
#main #section2 .sec2-article .project-content .content-01 {
  width: 100%;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-01 .content-title {
  width: 100%;
  padding-bottom: 30px;
}
#main #section2 .sec2-article .project-content .content-01 .content-title h2 {
  font-size: 40px;
  text-align: center;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 img {
  width: 600px;
  margin: 20px 50px 0 0;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  width: 63%;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info > p {
  font-size: 18px;
  padding: 20px 0 10px 0;
  line-height: 150%;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info .development-info {
  width: 100%;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info .development-info .detail {
  display: flex;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info .development-info .detail .left-p {
  width: 30%;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info .development-info .detail .right-p {
  width: 65%;
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info .development-info .detail .right-p a {
  color: rgb(242, 110, 110);
}
#main #section2 .sec2-article .project-content .content-01 .project-info-01 .info .development-info .detail .right-p a:hover {
  text-decoration: underline;
}
#main #section2 .sec2-article .project-content .content-01 .view-detail-btn {
  position: relative;
  left: 40%;
  width: 230px;
  height: 50px;
  background-color: #000;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
#main #section2 .sec2-article .project-content .content-02 {
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-02 .content-title {
  width: 100%;
  padding-bottom: 30px;
}
#main #section2 .sec2-article .project-content .content-02 .content-title h2 {
  font-size: 40px;
  text-align: center;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 img {
  width: 600px;
  margin: 20px 50px 0 0;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  width: 63%;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info > p {
  font-size: 18px;
  padding: 20px 0 10px 0;
  line-height: 150%;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info .development-info {
  width: 100%;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info .development-info .detail {
  display: flex;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info .development-info .detail .left-p {
  width: 30%;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info .development-info .detail .right-p {
  width: 65%;
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info .development-info .detail .right-p a {
  color: rgb(242, 110, 110);
}
#main #section2 .sec2-article .project-content .content-02 .project-info-02 .info .development-info .detail .right-p a:hover {
  text-decoration: underline;
}
#main #section2 .sec2-article .project-content .content-02 .view-detail-btn {
  position: relative;
  left: 40%;
  width: 230px;
  height: 50px;
  background-color: #000;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
#main #section2 .sec2-article .project-content .content-03 {
  width: 100%;
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-03 .content-title {
  width: 100%;
  padding-bottom: 30px;
}
#main #section2 .sec2-article .project-content .content-03 .content-title h2 {
  font-size: 40px;
  text-align: center;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 img {
  width: 600px;
  margin: 20px 50px 0 0;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  width: 63%;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info > p {
  font-size: 18px;
  padding: 20px 0 10px 0;
  line-height: 150%;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info .development-info {
  width: 100%;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #fff;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info .development-info .detail {
  display: flex;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info .development-info .detail .left-p {
  width: 30%;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info .development-info .detail .right-p {
  width: 65%;
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info .development-info .detail .right-p a {
  color: rgb(242, 110, 110);
}
#main #section2 .sec2-article .project-content .content-03 .project-info-03 .info .development-info .detail .right-p a:hover {
  text-decoration: underline;
}
#main #section2 .sec2-article .project-content .content-03 .view-detail-btn {
  position: relative;
  left: 40%;
  width: 230px;
  height: 50px;
  background-color: #000;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}