#project01 {
  width: 100%;
}
#project01 #header {
  width: 100%;
  height: 70px;
  transition: all 0.3s;
  position: fixed;
  z-index: 3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#project01 #header .container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  width: 100%;
  position: relative;
}
#project01 #header .container .back-btn {
  width: 100%;
  display: flex;
  align-items: center;
}
#project01 #header .container .back-btn button {
  border: 0;
  cursor: pointer;
  background: none;
}
#project01 #header .container .back-btn button img {
  width: 50px;
}
#project01 #header.on {
  border: 0;
}
#project01 .project01-main {
  width: 100%;
  padding-top: 70px;
  background: url(../../../img/kurly_banner.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#project01 .project01-main .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.9;
}
#project01 .project01-main .container .main-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
#project01 .project01-main .container .main-title img {
  width: 50px;
  margin-right: 10px;
}
#project01 .project01-main .container .main-title h2 {
  font-size: 32px;
}
#project01 .project01-main .container .main-title h2 strong {
  color: #5f0080;
  font-size: 32px;
  font-weight: 700;
}
#project01 .project01-main .container .project-content {
  width: 100%;
  margin: 0 0 30px 0;
}
#project01 .project01-main .container .project-content .project-info {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}
#project01 .project01-main .container .project-content .project-info h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;
}
#project01 .project01-main .container .project-content .project-info p {
  line-height: 200%;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 700;
}
#project01 .project01-main .container .project-content .project-info p strong {
  color: #5f0080;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: under;
}
#project01 .project01-main .container .project-content .project-info p span {
  background-color: #5f0080;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
}
#project01 .project01-main .container .project-content .project-info ul {
  width: 100%;
  margin: 10px 0 10px 20px;
  padding: 0 0 0 20px;
  line-height: 200%;
}
#project01 .project01-main .container .project-content .project-info ul li {
  list-style: auto;
  font-size: 20px;
  margin: 10px 0;
}
#project01 .project01-main .container .project-content .development-part {
  width: 100%;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #fff;
}
#project01 .project01-main .container .project-content .development-part h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0 20px 0;
}
#project01 .project01-main .container .project-content .development-part ul {
  width: 100%;
  margin: 10px 0 10px 20px;
  line-height: 200%;
}
#project01 .project01-main .container .project-content .development-part ul li {
  font-size: 20px;
  margin: 20px 0;
}
#project01 .project01-main .container .project-content .development-part ul li img {
  width: 10px;
  margin-right: 20px;
}
#project01 .project01-main .container .project-content .development-part ul li span {
  background-color: #631a7b;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  padding: 5px;
}
#project01 .project01-main .container .project-content .development-part p {
  line-height: 200%;
  font-size: 18px;
  padding-left: 20px;
}
#project01 .project01-main .container .project-content .experience {
  width: 100%;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #fff;
}
#project01 .project01-main .container .project-content .experience .experience-main-title {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0 20px 0;
}
#project01 .project01-main .container .project-content .experience .sub-title {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
  padding-left: 20px;
}
#project01 .project01-main .container .project-content .experience .sub-title span {
  background-color: #600080;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
}
#project01 .project01-main .container .project-content .experience p {
  line-height: 200%;
  font-size: 18px;
  padding-left: 20px;
}
#project01 .project01-main .container .project-content .experience p strong {
  color: #5f0080;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: under;
}