.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
